<form method="get" action="/quizes/<%= quiz.id %>/answer"> 
  Tema: <%= quiz.tema %> <br/>       
  Pregunta: <%= quiz.pregunta %> <p>
  <input type="text" name="respuesta" value="Respuesta"/>
  <input type="submit" value="Enviar">
</form>
<br/><br/>
<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<% for (index in quiz.comments) { %>
	<p>
		<% if (quiz.comments[index].publicado || session.user) { %>
			- <%= quiz.comments[index].texto %>
			<% if (!quiz.comments[index].publicado && session.user) { %>
				<a href="/quizes/<%= quiz.id %>/comments/<%= quiz.comments[index].id %>/publish"><button>Publicar</button></a>
			<% } %>
		<% } %>
	</p>
<% } %>