<h2>Estad&iacute;sticas</h2>
<div id="statistics">
	<table class="table-left">
		<tr><td>N&uacute;mero de preguntas totales:</td>
		<td><%= statistics.numPreguntas %></td></tr>

		<tr><td>N&uacute;mero de comentarios totales:</td>
		<td><%= statistics.numComentariosTotales %></td></tr>

		<tr><td>N&uacute;mero medio de comentarios por pregunta:</td>
		<td><%= statistics.numMedioComentariosPorPregunta %></td></tr>

		<tr><td>N&uacute;mero de preguntas sin comentarios:</td>
		<td><%= statistics.numPreguntasSinComentarios %></td></tr>

		<tr><td>N&uacute;mero de preguntas con comentarios:</td>
		<td><%= statistics.numPreguntasConComentarios %></td></tr>

	</table>
</div>